{% extends 'accounts/main.html' %}

{% block content %}
{% include 'accounts/status.html' %}

<br>

<div class="row">
	<div class="col-md-5">
		<h5>GAMES:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Register a Game</a>
			<table class="table table-sm">
				<tr>
					<th>Games</th>
					<th>Reviews</th>
				</tr>

				{% for g in games %}
				<tr>
					<td>{{g.name}}</td>
					<td>{{g.name}}</td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>LAST 5 REVIEWS:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'write_review' %}">Write a Review</a>
			<table class="table table-sm">
				<tr>
					<th>Game</th>
					<th>Genre</th>
					<th>Platform</th>
					<th>Score</th>
				</tr>

				{% for r in reviews %}
				<tr>
					<td><a class="btn btn-sm btn-info" href="{% url 'review' r.id %}">View</a></td>
					<td>{{r.game.name}}</td>
					<td>{{r.game.genre.name}}</td>
					<td>{{r.game.platform.name}}</td>
					<td>{{r.score}}</td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>

</div>

{% endblock %}
