{%  extends 'accounts/main.html' %}

{% block content %}

<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<h1>{{game}}</h1>
		</div>
	</div>

</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Genre</th>
					<th>Platform</th>
					<th>Release Date</th>
					<th>Score</th>
				</tr>

				<tr>
					<td>{{genre}}</td>
					<td>{{platform}}</td>
					<td>{{game.release_date}}</td>
					<td>{{game.score}}</td>
				</tr>

			</table>
		</div>
	</div>
</div>
<br>

<div class="row">
	<div class="col">
		<div class="card card-body">
			<a class="btn btn-sm btn-info" href="{% url 'write_review' game.name %}">Write a Review</a>
		</div>
	</div>

</div>
{% endblock %}
